<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h3> Welcome to {{ title }}!</h3>

  <form #form="ngForm">
    <div class="form-group">
      <label>Bank</label>
      <select class="form-control"
          name="bankSelect"
          [(ngModel)]="model.bankSelect"
          >
          <option *ngFor="let bank of banks">
              {{bank}}
          </option>
      </select>
    
    </div>

    <button class="btn btn-primary" type="submit">Ok</button>
  </form>
</div>
<br>
Model: {{model | json}}
<br>
Angular: {{form.value | json}}
<router-outlet></router-outlet>
